.halo-comment {
  position: relative;
  font-size: 14px;
  margin: 0 auto;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  button,
  input,
  textarea {
    -webkit-appearance: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  button:focus,
  input:focus,
  textarea:focus {
    outline: none;
  }

  .avatar {
    display: block;
    object-fit: cover;
    border-radius: 100%;
    width: 48px;
    height: 48px;
    cursor: pointer;
    transition: all 0.8s;

    &:hover {
      transform: rotate(360deg);
    }
  }

  .comment-editor {
    position: relative;
    z-index: 1;
    animation: top20 500ms;

    .inner {
      margin: auto;
    }
  }

  .comment-form input,
  .comment-form textarea {
    box-shadow: none;
    border: 1px solid #e1e8ed;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 5px 10px;
    resize: vertical;
    color: #657786;
  }

  .comment-form input:focus,
  .comment-form textarea:focus {
    border-color: #cccccc;
  }

  .comment-textarea {
    width: 100%;

    textarea {
      font-size: 14px;
      min-height: 90px;
      transition: all 0.15s ease-in-out;
      color: #000;
      overflow: hidden;
      overflow-wrap: break-word;
    }
  }

  .comment-preview {
    position: relative;
    min-height: 90px;
    box-shadow: none;
    border: 1px solid #e1e8ed;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 5px 10px;
    overflow-wrap: break-word;

    img {
      max-width: 50%;
    }

    p {
      margin: 0;
    }
  }

  .comment-empty {
    margin: 30px 0;
    text-align: center;
    color: #8899a6;
  }

  .comment-nodes {
    animation: top20 1000ms;

    position: relative;

    .comment-editor {
      animation: bottom20 500ms;
    }
  }

  .comment-nodes .index-1 {
    overflow: hidden;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f5f8fa;

    & > .children-nodes {
      margin-left: 55px;
    }

    .children-nodes {
      .avatar {
        width: 42px;
        height: 42px;
      }
    }
  }

  .comment-nodes li:last-child {
    border: 0;
  }

  .comment-nodes .commentator a:after,
  .comment-nodes .commentator a:before {
    display: none;
  }

  .comment-body {
    position: relative;
    margin: 0 auto;
    padding: 0;
  }

  .comment-main {
    margin-left: 58px;
  }

  .comment-meta {
    line-height: 1;

    .useragent-info {
      margin-top: 6px;
      font-size: 12px;
      color: #657786;
    }
  }

  .comment-author {
    font-size: 14px;

    .author-name {
      font-size: 16px;
      font-weight: 700;
      color: #666;
    }
  }

  .comment-time {
    display: inline-block;
    margin-top: 6px;
    font-size: 12px;
    color: #657786;
  }

  .comment-content {
    padding: 20px 20px 19px 0;
    font-size: 14px;
    color: #111111;

    p {
      margin: 0;

      img {
        max-width: 50%;
      }
    }
  }

  .comment-alert {
    margin-top: 10px;
  }

  .alert {
    animation: top20 500ms;
    border-radius: 4px;
    padding: 8px 16px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;

    &.success {
      background-color: #4caf50;
    }

    &.info {
      background-color: #2196f3;
    }

    &.warning {
      background-color: #ff9800;
    }

    .closebtn {
      margin-left: 15px;
      color: #fff;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 16px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: black;
      }
    }
  }

  @media only screen and (max-width: 576px) {
    .author-info {
      input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 5px;
      }
    }
  }

  @keyframes top20 {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes bottom20 {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
